/* ========== Estilos Globales =========== */

* {
	margin: 0;
	padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* ========== Estilos Card =========== */

article{
    width: 26%;
    /*border: 2px solid black;*/
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    padding: 2% 0;
    box-shadow: 5px 5px 8px 3px #A6ACAF
}

body{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* ========== Estilos Sección 1 =========== */

section:nth-child(1){
    width: 100%;
    height: auto;
    padding: 0 5%;
    display: flex;
    column-gap: 20px;
}

section:nth-child(1) img{
    align-self: center;
}

section:nth-child(1) div{
    display: flex;
    flex-direction: column;
    row-gap: 5px;
}

section:nth-child(1) div h1{
    font-size: 16px;
}


section:nth-child(1) div h3{
    font-size: 15px;
    font-weight: 400;
}

/* ========== Estilos Sección 2 =========== */

section:nth-child(2){
    width: 100%;
    height: auto;
    overflow: hidden;
}

section:nth-child(2) a{
    display: grid;
}

section:nth-child(2) img{
    width: 100%;
    transition: all 800ms ease;
}

section:nth-child(2) img:hover{
    transform: scale(1.05);
}

/* ========== Estilos Sección 3 =========== */

section:nth-child(3){
    width: 100%;
    height: auto;
    padding: 0 5%;
    display: flex;
    flex-direction: column;
    row-gap: 30px;
}

section:nth-child(3) p{
    font-size: 15px;
}

section:nth-child(3) > div:nth-child(2){
    display: flex;
    justify-content: space-between;
}

section:nth-child(3) > div:nth-child(2) > div:nth-child(1){
   display: flex;
   column-gap: 15px;
}

section:nth-child(3) > div:nth-child(2) > div:nth-child(2){
    display: flex;
    align-items: center;
    column-gap: 30px;
}

/* ======= Estilos Hipervínculos Botones ======= */

.enlace-text{
    text-decoration: none;
    color: white;
    font-weight: 700;
    background-color: #C70101;
    padding: 4px 10px;
    border-radius: 10px;
    transition: all 200ms ease;
}

.enlace-text:hover{
    color: #C70101;
    background: white;
    box-shadow: 0px 0px 5px 1px #C70101;
}

/* ========== Estilos Hipervínculos íconos =========== */

.enlace-icons{
    font-size: 20px;
    color: #4A4A4A;
    cursor: pointer;
    transition: all 200ms ease;
}

.enlace-icons:hover{
    color: #C70101;
}

